{
    "build": [
        {
            "name": "/usr/bin/clang",
            "args": [
            "main.c",
            "-o",
            "main"
            ]
        }
        ],
    "run": {
        "name": "./main",
        "args": []
    },
    "include": {
        "import": [
            "include.list"
        ],
        "pattern": [
            "*.*.c",
            "*/*.text"
        ]
    },
    "exclude": {
        "import": [
            "exclude.list"
        ],
        "pattern": [
            ".temp",
            ".gitignore"
        ]
    }
}
